.browse-container {
    background-color: #1a1a1a; 
    color: white; 
    min-height: 100vh;
}

.browse-header{
    display: flex;
    justify-content:space-between;
    height: 100px;
}

.sign-out-div{
    margin-top: 40px;
    margin-right: 5%;
    z-index: 3;
}

.sign-out-btn{
    font-weight: bold;
    color: white;
    background-color: rgb(229, 9, 20);
    cursor: pointer;
    border: none;
    padding: 10px 20px;
}