.logo {
    width: 250px;
    height: 100px;
    margin-top: 10px;
    margin-left: 200px;
}

.header-container {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: space-between; 
}